
[run]
branch = True
source = ml_core

[report]
exclude_lines =
    no cover
    raise NotImplementedError
    if __name__ == "__main__":
ignore_errors = True
omit =
    ml_core/tests/*
    ml_core/swivel.py
    ml_core/bigartm.py
